<%- include("partials/header.ejs") %>
<p>Hi Im Rushikesh, i love to code currently learning backend with node js.this is my first captone project pretty hard for me soon i will pick up the pace.huge learnings from this projects. im gonna update you with my coming projects. </p>

<%- include("partials/footer.ejs") %>
