<%-include("partials/header.ejs") %>
<form action="/contact" method="POST">
    <textarea name="Name" class="feedback-input" placeholder="Name"></textarea> 
    <textarea name="Email" class="feedback-input" placeholder="Email"></textarea> 
    <textarea name="Phoneno" class="feedback-input" placeholder="phoneno"></textarea>
    <textarea name="Query" class="feedback-input" placeholder="Query"></textarea>  
    <input type="submit" value="Submit">
</form>

